/* Font */
$base-font-family: 'Open Sans', sans-serif;
$arabic-font-family: 'Droid Arabic Kufi', sans-serif;
$base-font-size: 16px;
$base-font-color: #333333;

//  Main Colors
$color-orange: #f2ab00;
$color-red: #8f141a;
$color-white: #FFFFFF;
$color-black: #000000;
$color-light-white: #f1f1f1;
$color-green: #77c254;
$color-light-orange: #ffecbd;
$color-light-gray: #f7f7f7;
$color-smoke-gray: #efefef;
$color-light-orange2:#fff7e4;
$color-team:#393939;
$color-light-green:#87c968;
$color-dark-green:#37a005;
